@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  // background-image: url("../imgs/light.svg");
  // background-size: contain;
  // background-repeat: no-repeat;
  background-color: #fff;
  color: #000;
  transition: 1s;
  max-width: 2069px;
  margin: auto;
}
.p-text {
  content: "lightmode";
}

/*Darkmode*/

.dark-mode {
  background-color: #000;
  color: #fff;
  span {
    color: #fff;
  }
  .first-container {
    header {
      .container {
        background-color: #fff;
        color: #000;
        .circle {
          animation: none;
        }
      }
    }
  }
  .second-container {
    .about {
      #more-btn {
        background-color: #fff;
        color: #000;
      }
      .introduction {
        span {
          color: #fff;
        }
        span:hover {
          color: #000;
        }
      }
    }
    .img-container {
      .wave {
        svg {
          path {
            fill: #000;
          }
        }
      }
    }
  }
}

/*First viewport styling*/

.first-container {
  height: 1000px;

  /*Global Circles styling*/

  .bg-circle {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
  }
  .right-circle {
    top: 0;
    right: 0;
    width: 200px;
    height: 400px;
    background: repeating-linear-gradient(
      130deg,
      transparent 0%,
      transparent 4%,
      #b6b6b6 4%,
      #b6b6b6 5%
    );
    border-radius: 50% 0% 30% 50%;
  }

  header {
    position: relative;
    text-align: center;
    width: 260px;
    margin: auto;
    .container {
      display: inline-block;
      background-color: #000;
      color: #fff;
      padding: 20px 20px;
      border-radius: 40px 0 40px 0;
      margin: -15px 0;
      p {
        padding: 20px 0;
      }

      /*Header Circle Styling*/

      .circle {
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-color: #000;
        margin: 20px auto;
        border-radius: 50%;
        border-collapse: collapse;
        box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000,
          0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000,
          0 0 0 15px #fff, 0 0 0 17px #000;
        animation: circle 3s infinite ease-in-out;
      }
      @keyframes circle {
        0% {
          background-color: #000;
          box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000,
            0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000,
            0 0 0 15px #fff, 0 0 0 17px #000;
        }
        50% {
          background-color: #fff;
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px #000, 0 0 0 5px #fff,
            0 0 0 7px #000, 0 0 0 9px #fff, 0 0 0 11px #000, 0 0 0 13px #fff,
            0 0 0 15px #000, 0 0 0 17px #fff;
        }
        100% {
          background-color: #000;
          box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000,
            0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000,
            0 0 0 15px #fff, 0 0 0 17px #000;
        }
      }
      p {
        text-align: left;
        margin-top: 20px;
      }
    }
  }
  .title {
    position: relative;
    text-align: center;
    width: 260px;
    margin: 100px auto;
    h1 {
      text-transform: uppercase;
      font-size: 90px;
      font-weight: 900;
    }
    .lil-circle {
      top: 30px;
      width: 100px;
      height: 100px;
      background: repeating-linear-gradient(
        130deg,
        transparent 0%,
        transparent 2%,
        #646464 2%,
        #646464 4%
      );
    }
  }
  .name {
    position: relative;
    text-align: center;
    width: 260px;
    margin: auto;
    h2 {
      font-weight: 900;
      margin: 70px 10px auto;
      font-size: 50px;
    }
    p {
      font-size: 20px;
      text-decoration: underline green 3px;
      text-transform: capitalize;
      line-height: 30px;
    }
    .left-circle {
      top: 100px;
      left: -500px;
      width: 400px;
      height: 400px;
      background: repeating-linear-gradient(
        130deg,
        transparent 0%,
        transparent 4%,
        #b6b6b6 4%,
        #b6b6b6 5%
      );
    }
  }
}

/*Skills Styling*/

.second-container {
  position: inherit;
  display: flex;
  height: 700px;
  margin-top: 200px;
  // width: 80%;
  // margin: auto;
  .about {
    width: 50%;
    text-align: center;
    .introduction {
      margin: 0 auto 60px;
      h2 {
        text-transform: capitalize;
        font-size: 30px;
      }
      h3 {
        margin: 10px 0 auto;
        font-weight: 100;
        font-size: 20px;
      }
      span {
        color: #004600;
        font-size: 30px;
        text-decoration: underline green;
        transition: 0.4s;
        border-radius: 100%;
      }
      span:hover {
        background-color: rgb(47, 255, 220);
        transition: 0.5s;
        animation: morphing 7s infinite;
        padding: 40px;
        text-decoration: none;
        text-decoration: underline #fff;
      }
      @keyframes morphing {
        0% {
          border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
          box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
        }
        25% {
          border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
        }
        50% {
          border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
          box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
        }
        75% {
          border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
        }
        100% {
          border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
          box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
        }
      }
    }
    .skills {
      h2 {
        margin: 0 0 20px;
      }
      .skills-container {
        width: fit-content;
        margin: auto;
        border: 2px solid #b4adae;
        border-radius: 20px;
        text-align: center;
        .skills-text {
          position: relative;
          img {
            transition: 0.2s;
            opacity: 0;
            position: absolute;
            width: 30px;
            height: auto;
            left: 55px;
            top: 15px;
            transform: rotateY(180deg);
          }
        }

        .skills-text:hover {
          h4 {
            opacity: 0;
            transition: 0.3s;
            transform: rotateY(90deg);
          }
          img {
            transition: 0.5s;
            opacity: 1;
            transform: rotateY(0deg);
          }
        }
        h4 {
          padding: 20px;
          transition: 0.5s;
        }
      }
    }
    #more-btn {
      width: 100px;
      height: 50px;
      background-color: #000;
      margin: 100px 0 auto;
      font-size: 20px;
      color: #fff;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.5s;
    }
    #more-btn:hover {
      background-color: orange;
      color: #fff;
      transition: 0.2s;
    }
  }
  .img-container {
    position: relative;
    width: 1000px;
    overflow: hidden;

    .wave {
      position: absolute;
      margin-left: -50px;
      margin-top: -300px;
      width: 1000px;
      height: 1000px;
      svg {
        width: 100%;
        height: 100%;
        path {
          fill: #fff;
        }
      }
    }
    img {
      width: 700px;
      height: auto;
      margin-left: 300px;
    }
  }
}

/*Projects Styling*/

.projects-container {
  margin-top: 100px;

  .first {
    text-align: center;
    margin: 120px 0;
    text-transform: capitalize;
    text-decoration: underline green;
    h2 {
      font-size: 50px;
    }
  }
  .second {
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;

    img {
      width: 100%;
      height: auto;
    }
    .project-container {
      transition: 1s;
      position: relative;
    }
  }
  .description-container {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    color: #fff;
    transition: 0.4s;
    a {
      color: #fff;
      text-decoration: 2px underline green;
    }
    button {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 100px 0 auto;
      padding: 10px 0;

      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.3s;

      a {
        padding: 10px 20px;
        color: black;
        text-decoration: none;
      }
    }
    button:hover {
      background-color: orange;
      color: #fff;
      transition: 0.2s;
      a {
        color: #fff;
      }
    }
  }
  /*Projects Containers Hover Styling*/

  .project-container:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
    .description-container {
      opacity: 1;
    }
  }
}

// Contact Form

.contact {
  width: 70%;
  margin: 200px auto;
  background-color: #1c1e25;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  border-radius: 20px;
  form {
    display: flex;
    flex-direction: column;
    .input-container {
      display: flex;
      input {
        width: 385px;
        font-size: 20px;
        padding: 10px;
        border: none;
        margin-bottom: 20px;
        background-color: #323541;
        color: #9b9b9b;
      }
      #email {
        margin-right: 5px;
      }
    }
    .text-container {
      display: flex;
      align-items: flex-end;
      textarea {
        max-height: 500px;
        max-width: 775px;
        min-width: 775px;
        min-height: 100px;
        font-size: 20px;
        background-color: #323541;
        border-radius: 5px;
        border: none;
        color: #9b9b9b;
      }
      button {
        padding: 10px;
        font-size: 20px;
        transition: 0.3s;
        border: none;
        margin-left: 20px;
        border-radius: 20px;
      }
      button:hover {
        background-color: orange;
        color: #fff;
        transition: 0.3s;
        cursor: pointer;
      }
    }
  }
}

footer {
  display: flex;
  background-color: #1c1e25;
  justify-content: center;
  align-items: center;
  height: 100px;

  .info {
    display: flex;
    align-items: center;
    p {
      font-size: 20px;
      color: #fff;
    }
    img {
      width: 50px;
    }
    a {
      margin: 0 120px;
    }
  }
}

/*Media Queries Styling*/

//tablet styling

@media (min-width: 900px) {
  .first-container {
    .name {
      .left-circle {
        top: 100px;
        left: -600px;
        width: 400px;
        height: 400px;
      }
    }
  }
}

@media (max-width: 900px) {
  .second-container {
    display: block;
    height: auto;
    width: 80%;
    margin: auto;
    .about {
      width: 100%;
      text-align: center;
    }
    .img-container {
      width: 100%;
      margin: 100px 0 0;
      text-align: center;
      .wave {
        display: none;
      }
      img {
        width: 300px;
        height: auto;
        margin-left: 0px;
        margin: auto;
      }
    }
  }
  .projects-container {
    height: auto;
    .second {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }
  .contact {
    width: 50%;

    form {
      display: flex;
      flex-direction: column;
      .input-container {
        display: flex;
      }
      .text-container {
        display: flex;
        align-items: flex-end;
      }
    }
  }
}

//Desktop Styling

@media (min-width: 1300px) {
  .first-container {
    .name {
      .left-circle {
        top: 100px;
        left: -800px;
        width: 400px;
        height: 400px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .contact {
    width: 90%;

    form {
      .input-container {
        input {
          width: 185px;
        }
      }
      .text-container {
        textarea {
          max-width: 375px;
          min-width: 375px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .contact {
    width: 90%;

    form {
      display: block;
      .input-container {
        display: block;
        input {
          width: 275px;
        }
      }
      .text-container {
        display: block;
        textarea {
          max-width: 275px;
          min-width: 275px;
        }
        button {
          margin-top: 50px;
          margin-left: 180px;
        }
      }
    }
  }
  footer {
    display: block;
    .info {
      justify-content: space-between;
      p {
        font-size: 15px;
        margin: 20px;
      }
      a {
        margin: 20px;
      }
    }
  }
}
@media (max-width: 300px) {
  .contact {
    width: 100%;

    form {
      .input-container {
        input {
          width: 200px;
        }
      }
      .text-container {
        textarea {
          max-width: 200px;
          min-width: 200px;
        }
        button {
          margin-left: 100px;
        }
      }
    }
  }
  footer {
    display: block;
    .info {
      p {
        font-size: 14px;
        margin: 10px;
      }
      a {
        margin: 10px;
        img {
          width: 40px;
        }
      }
    }
  }
}
//Mobile Styling

@media (max-width: 420px) {
  .first-container {
    .title {
      h1 {
        font-size: 70px;
      }
    }
    .name {
      h2 {
        font-size: 45px;
      }
      p {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
  .second-container {
    width: 80%;
    margin: auto;
    .img-container {
      .wave {
        display: none;
      }
      img {
        width: 100%;
        height: auto;
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: 580px) {
  .first-container {
    height: 600px;
    .right-circle {
      top: 0;
      right: 0;
      width: 100px;
      height: 200px;
      border-radius: 50% 0% 30% 50%;
    }
    .name {
      .left-circle {
        top: 100px;
        left: -170px;
        width: 200px;
        height: 200px;
      }
    }
  }
  .second-container {
    margin-top: 300px;
  }
}
