@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  -webkit-transition: 1s;
  transition: 1s;
  max-width: 2069px;
  margin: auto;
}

.p-text {
  content: "lightmode";
}

.clouds {
  position: relative;
}

.clouds img {
  width: 100%;
}

.clouds .info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  bottom: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clouds .info img {
  width: 80px;
}

.clouds .info a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  margin: 0 100px;
}

.clouds .info a:hover {
  color: #fff9;
}

.clouds .info .gmail {
  -webkit-animation: float-2 5s infinite ease-in-out;
          animation: float-2 5s infinite ease-in-out;
}

.clouds .info .github {
  -webkit-animation: float-2 5s infinite ease-in-out;
          animation: float-2 5s infinite ease-in-out;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes float-2 {
  0% {
    -webkit-transform: translate(5px, 20px);
            transform: translate(5px, 20px);
  }
  50% {
    -webkit-transform: translate(-7px, -13px);
            transform: translate(-7px, -13px);
  }
  100% {
    -webkit-transform: translate(5px, 20px);
            transform: translate(5px, 20px);
  }
}

@keyframes float-2 {
  0% {
    -webkit-transform: translate(5px, 20px);
            transform: translate(5px, 20px);
  }
  50% {
    -webkit-transform: translate(-7px, -13px);
            transform: translate(-7px, -13px);
  }
  100% {
    -webkit-transform: translate(5px, 20px);
            transform: translate(5px, 20px);
  }
}

/*Darkmode*/
.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode span {
  color: #fff;
}

.dark-mode .first-container header .container {
  background-color: #fff;
  color: #000;
}

.dark-mode .first-container header .container .circle {
  -webkit-animation: none;
          animation: none;
}

.dark-mode .second-container .about #more-btn {
  background-color: #fff;
  color: #000;
}

.dark-mode .second-container .about .introduction span {
  color: #fff;
}

.dark-mode .second-container .about .introduction span:hover {
  color: #000;
}

.dark-mode .second-container .img-container .wave svg path {
  fill: #000;
}

.dark-mode footer {
  width: 100%;
  height: 100px;
  color: #fff;
}

.contact {
  width: 70%;
  margin: 200px auto;
  background-color: #1c1e25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px;
  border-radius: 20px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact form .input-container input {
  width: 385px;
  font-size: 20px;
  padding: 10px;
  border: none;
  margin-bottom: 20px;
  background-color: #323541;
  color: #9b9b9b;
}

.contact form .input-container #email {
  margin-right: 5px;
}

.contact form .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact form .text-container textarea {
  max-height: 500px;
  max-width: 775px;
  min-width: 775px;
  min-height: 100px;
  font-size: 20px;
  background-color: #323541;
  border-radius: 5px;
  border: none;
  color: #9b9b9b;
}

.contact form .text-container button {
  padding: 10px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  margin-left: 20px;
  border-radius: 5px;
}

.contact form .text-container button:hover {
  background-color: orange;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*First viewport styling*/
.first-container {
  height: 1000px;
  /*Global Circles styling*/
}

.first-container .bg-circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.first-container .right-circle {
  top: 0;
  right: 0;
  width: 200px;
  height: 400px;
  background: repeating-linear-gradient(130deg, transparent 0%, transparent 4%, #b6b6b6 4%, #b6b6b6 5%);
  border-radius: 50% 0% 30% 50%;
}

.first-container header {
  position: relative;
  text-align: center;
  width: 260px;
  margin: auto;
}

.first-container header .container {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 20px 20px;
  border-radius: 40px 0 40px 0;
  margin: -15px 0;
  /*Header Circle Styling*/
}

.first-container header .container p {
  padding: 20px 0;
}

.first-container header .container .circle {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #000;
  margin: 20px auto;
  border-radius: 50%;
  border-collapse: collapse;
  -webkit-box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000, 0 0 0 15px #fff, 0 0 0 17px #000;
          box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000, 0 0 0 15px #fff, 0 0 0 17px #000;
  -webkit-animation: circle 3s infinite ease-in-out;
          animation: circle 3s infinite ease-in-out;
}

@-webkit-keyframes circle {
  0% {
    background-color: #000;
    -webkit-box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000, 0 0 0 15px #fff, 0 0 0 17px #000;
            box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000, 0 0 0 15px #fff, 0 0 0 17px #000;
  }
  50% {
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #000, 0 0 0 5px #fff, 0 0 0 7px #000, 0 0 0 9px #fff, 0 0 0 11px #000, 0 0 0 13px #fff, 0 0 0 15px #000, 0 0 0 17px #fff;
            box-shadow: 0 0 0 1px #fff, 0 0 0 3px #000, 0 0 0 5px #fff, 0 0 0 7px #000, 0 0 0 9px #fff, 0 0 0 11px #000, 0 0 0 13px #fff, 0 0 0 15px #000, 0 0 0 17px #fff;
  }
  100% {
    background-color: #000;
    -webkit-box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000, 0 0 0 15px #fff, 0 0 0 17px #000;
            box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000, 0 0 0 15px #fff, 0 0 0 17px #000;
  }
}

@keyframes circle {
  0% {
    background-color: #000;
    -webkit-box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000, 0 0 0 15px #fff, 0 0 0 17px #000;
            box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000, 0 0 0 15px #fff, 0 0 0 17px #000;
  }
  50% {
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #000, 0 0 0 5px #fff, 0 0 0 7px #000, 0 0 0 9px #fff, 0 0 0 11px #000, 0 0 0 13px #fff, 0 0 0 15px #000, 0 0 0 17px #fff;
            box-shadow: 0 0 0 1px #fff, 0 0 0 3px #000, 0 0 0 5px #fff, 0 0 0 7px #000, 0 0 0 9px #fff, 0 0 0 11px #000, 0 0 0 13px #fff, 0 0 0 15px #000, 0 0 0 17px #fff;
  }
  100% {
    background-color: #000;
    -webkit-box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000, 0 0 0 15px #fff, 0 0 0 17px #000;
            box-shadow: 0 0 0 1px #000, 0 0 0 3px #fff, 0 0 0 5px #000, 0 0 0 7px #fff, 0 0 0 9px #000, 0 0 0 11px #fff, 0 0 0 13px #000, 0 0 0 15px #fff, 0 0 0 17px #000;
  }
}

.first-container header .container p {
  text-align: left;
  margin-top: 20px;
}

.first-container .title {
  position: relative;
  text-align: center;
  width: 260px;
  margin: 100px auto;
}

.first-container .title h1 {
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 900;
}

.first-container .title .lil-circle {
  top: 30px;
  width: 100px;
  height: 100px;
  background: repeating-linear-gradient(130deg, transparent 0%, transparent 2%, #646464 2%, #646464 4%);
}

.first-container .name {
  position: relative;
  text-align: center;
  width: 260px;
  margin: auto;
}

.first-container .name h2 {
  font-weight: 900;
  margin: 70px 10px auto;
  font-size: 50px;
}

.first-container .name p {
  font-size: 20px;
  -webkit-text-decoration: underline green 3px;
          text-decoration: underline green 3px;
  text-transform: capitalize;
  line-height: 30px;
}

.first-container .name .left-circle {
  top: 100px;
  left: -500px;
  width: 400px;
  height: 400px;
  background: repeating-linear-gradient(130deg, transparent 0%, transparent 4%, #b6b6b6 4%, #b6b6b6 5%);
}

/*Skills Styling*/
.second-container {
  position: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  margin-top: 200px;
}

.second-container .about {
  width: 50%;
  text-align: center;
}

.second-container .about .introduction {
  margin: 0 auto 60px;
}

.second-container .about .introduction h2 {
  text-transform: capitalize;
  font-size: 30px;
}

.second-container .about .introduction h3 {
  margin: 10px 0 auto;
  font-weight: 100;
  font-size: 20px;
}

.second-container .about .introduction span {
  color: #004600;
  font-size: 30px;
  -webkit-text-decoration: underline green;
          text-decoration: underline green;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100%;
}

.second-container .about .introduction span:hover {
  background-color: #2fffdc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: morphing 7s infinite;
          animation: morphing 7s infinite;
  padding: 40px;
  text-decoration: none;
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}

@-webkit-keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    -webkit-box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
            box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
  }
}

.second-container .about .skills h2 {
  margin: 0 0 20px;
}

.second-container .about .skills .skills-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border: 2px solid #b4adae;
  border-radius: 20px;
  text-align: center;
}

.second-container .about .skills .skills-container .skills-text {
  position: relative;
}

.second-container .about .skills .skills-container .skills-text img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  width: 30px;
  height: auto;
  left: 55px;
  top: 15px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.second-container .about .skills .skills-container .skills-text:hover h4 {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.second-container .about .skills .skills-container .skills-text:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.second-container .about .skills .skills-container h4 {
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.second-container .about #more-btn {
  width: 100px;
  height: 50px;
  background-color: #000;
  margin: 100px 0 auto;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.second-container .about #more-btn:hover {
  background-color: orange;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.second-container .img-container {
  position: relative;
  width: 1000px;
  overflow: hidden;
}

.second-container .img-container .wave {
  position: absolute;
  margin-left: -50px;
  margin-top: -300px;
  width: 1000px;
  height: 1000px;
}

.second-container .img-container .wave svg {
  width: 100%;
  height: 100%;
}

.second-container .img-container .wave svg path {
  fill: #fff;
}

.second-container .img-container img {
  width: 700px;
  height: auto;
  margin-left: 300px;
}

/*Projects Styling*/
.description-container {
  display: none;
}

.projects-container {
  margin-top: 100px;
  /*Projects Containers Hover Styling*/
}

.projects-container .first {
  text-align: center;
  margin: 120px 0;
  text-transform: capitalize;
  -webkit-text-decoration: underline green;
          text-decoration: underline green;
}

.projects-container .first h2 {
  font-size: 50px;
}

.projects-container .second {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  grid-gap: 10px;
}

.projects-container .second img {
  width: 100%;
  height: auto;
}

.projects-container .second .project-container {
  -webkit-transition: 1s;
  transition: 1s;
}

.projects-container .project-container:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
}

/*Media Queries Styling*/
@media (min-width: 900px) {
  .first-container .name .left-circle {
    top: 100px;
    left: -600px;
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 900px) {
  .second-container {
    display: block;
    height: auto;
    width: 80%;
    margin: auto;
  }
  .second-container .about {
    width: 100%;
    text-align: center;
  }
  .second-container .img-container {
    width: 100%;
    margin: 100px 0 0;
    text-align: center;
  }
  .second-container .img-container .wave {
    display: none;
  }
  .second-container .img-container img {
    width: 300px;
    height: auto;
    margin-left: 0px;
    margin: auto;
  }
  .projects-container {
    height: auto;
  }
  .projects-container .second {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 250px 250px 250px 250px;
        grid-template-rows: 250px 250px 250px 250px;
  }
  .contact {
    width: 50%;
  }
  .contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact form .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact form .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1300px) {
  .first-container .name .left-circle {
    top: 100px;
    left: -800px;
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 1300px) {
  .contact {
    width: 90%;
  }
  .contact form .input-container input {
    width: 185px;
  }
  .contact form .text-container textarea {
    max-width: 375px;
    min-width: 375px;
  }
  .clouds .info {
    bottom: 100px;
  }
}

@media (max-width: 600px) {
  .contact {
    width: 90%;
  }
  .contact form {
    display: block;
  }
  .contact form .input-container {
    display: block;
  }
  .contact form .input-container input {
    width: 275px;
  }
  .contact form .text-container {
    display: block;
  }
  .contact form .text-container textarea {
    max-width: 275px;
    min-width: 275px;
  }
  .contact form .text-container button {
    margin-top: 50px;
    margin-left: 180px;
  }
  .clouds .info {
    bottom: 70px;
  }
  .clouds .info img {
    width: 50px;
  }
  .clouds .info a {
    margin: 0 50px;
  }
}

@media (max-width: 300px) {
  .contact {
    width: 100%;
  }
  .contact form .input-container input {
    width: 200px;
  }
  .contact form .text-container textarea {
    max-width: 200px;
    min-width: 200px;
  }
  .contact form .text-container button {
    margin-left: 100px;
  }
  .clouds .info {
    bottom: 3 0px;
  }
  .clouds .info img {
    width: 50px;
  }
  .clouds .info a {
    margin: 0 20px;
  }
}

@media (max-width: 420px) {
  .first-container .title h1 {
    font-size: 70px;
  }
  .first-container .name h2 {
    font-size: 45px;
  }
  .first-container .name p {
    font-size: 30px;
    line-height: 40px;
  }
  .second-container {
    width: 80%;
    margin: auto;
  }
  .second-container .img-container .wave {
    display: none;
  }
  .second-container .img-container img {
    width: 100%;
    height: auto;
    margin-left: 0px;
  }
}

@media (max-width: 580px) {
  .first-container {
    height: 600px;
  }
  .first-container .right-circle {
    top: 0;
    right: 0;
    width: 100px;
    height: 200px;
    border-radius: 50% 0% 30% 50%;
  }
  .first-container .name .left-circle {
    top: 100px;
    left: -170px;
    width: 200px;
    height: 200px;
  }
  .second-container {
    margin-top: 300px;
  }
}

.clouds img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */