* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c7c7c7;
}

.container {
  text-align: center;
  display: block;
}
input {
  margin-top: 50px;
  width: 30%;
  height: 30px;
}
form button {
  width: 100px;
  height: 30px;
}

.item-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 40px;
  justify-content: center;
}
#item {
  display: flex;
  position: relative;

  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
  border-radius: 50px;
  padding: 40px;
}
#item h1 {
  font-size: 20px;
}

#item img {
  border-radius: 50px;
  width: 100%;
}

#item .ing {
  display: block;
  text-align: left;
  margin: 20px 0;
}

#item .ing #list-on {
  display: block;
  position: absolute;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin-left: -40px;
  border-radius: 0px 0px 20px 20px;
  z-index: 999;
  transition: 0.4s;
}
#item .ing #list-off {
  display: none;
}

#item #showBtn {
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

#item:hover {
  background-color: #bdbdbd;
}
#item:hover .ing #list-on {
  background-color: #bdbdbd;
}
@media screen and (min-width: 3000px) {
  .item-container {
    grid-template-columns: 15% 15% 15% 15% 15%;
  }
}
@media screen and (max-width: 1400px) {
  .item-container {
    grid-template-columns: 30% 30% 30%;
  }
}
@media screen and (max-width: 900px) {
  .item-container {
    grid-template-columns: 40% 40%;
  }
  #item:hover {
    background-color: transparent;
  }
  #item .ing #list-on {
    background-color: #c7c7c7;
  }
}
@media screen and (max-width: 600px) {
  .item-container {
    grid-template-columns: 100%;
  }
  #item img {
    width: 200px;
    height: 200px;
  }
  #item {
    align-items: center;
  }
  #item .ing #list-on {
    margin-left: -50%;
  }
}
